    <div class='article-squares'>
      <a class='article-square primary' href='#'>
        <%= image_tag("QP_Square01.jpg") %>
        <div class='text-wrapper'>
          <div class='title'>THE SECOND COMING<br/>OF TROY</div>
          <div class='line'></div>
          <div class='credit'>Steve DiCarlo</div>
        </div>
      </a>

      <a class='article-square secondary top' href='#'>
        <%= image_tag("QP_Square02.jpg") %>
        <div class='panel-wrapper'>
          <div class='panel'></div>
          <div class='text-wrapper'>
            <div class='title'>West 7-5-3-1</div>
            <div class='credit'>by Kyle Epsteen</div>
          </div>
        </div>
      </a>

      <a class='article-square secondary bottom' href='#'>
        <%= image_tag("QP_Square03.jpg") %>
        <div class='panel-wrapper'>
          <div class='panel'></div>
          <div class='text-wrapper'>
            <div class='title'>Turkey&apos;s Intergalaktik Cup<br/>reveals more details</div>
            <div class='credit'>by Quidditch Post</div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class='main-body-width'>
    <div class='features flexbox'>
      <div class='features-box'>
        <div class='features-header latest'>LATEST FEATURES</div>

        <ul class='features-body'>
          <% @posts.each do |blog|%>
            <li><a href="<%= blog.source_url %>"><%= blog.title %></a></li>
          <% end %>  
        </ul>

        <a class='features-footer' href='/blog'>
          MORE ARTICLES
          <%= image_tag("QP_arrow.png") %>
        </a>
      </div>

      <div class='features-box'>
        <div class='features-header podcasts'>QP PODCASTS</div>

        <ul class='features-body alternating'>
          <li><a class='feature-with-date' href='#'>
            <span>Quidcast Australia</span>
            <span>Today</span>
          </a></li>
          <li><a class='feature-with-date' href='#'>
            <span>Quidcast Europe</span>
            <span>Today</span>
          </a></li>
          <li><a class='feature-with-date' href='#'>
            <span>Quidcast Great Lakes</span>
            <span>12/7/15</span>
          </a></li>
          <li><a class='feature-with-date' href='#'>
            <span>Quidcast Midwest</span>
            <span>12/7/15</span>
          </a></li>
          <li><a class='feature-with-date' href='#'>
            <span>Quidcast Northeast</span>
            <span>12/7/15</span>
          </a></li>
          <li><a class='feature-with-date' href='#'>
            <span>Quidcast Northwest</span>
            <span>12/7/15</span>
          </a></li>
          <li><a class='feature-with-date' href='#'>
            <span>Quidcast South</span>
            <span>12/4/15</span>
          </a></li>
        </ul>

        <a class='features-footer' href='#'>
          MORE PODCASTS
          <%= image_tag("QP_arrow.png") %>
        </a>
      </div>

      <div class='features-box'>
        <div class='features-header featured'>FEATURED CONTENT</div>

        <div class='features-body'>
          <a class='feature-with-image' href='#'>
            <%= image_tag("QP_featured_comic.png") %>
          </a>
        </div>

        <a class='features-footer' href='#'>
          VIEW ON FACEBOOK
          <%= image_tag("QP_arrow.png") %>
        </a>
      </div>
    </div>
  </div>

  
