<h1 class='article-title'><%= @page.title %></h1>
<div class='article-title-underline'></div>
<div class='article-credit'>
</div>

<div class='flexbox'>
  <div class='article'>
    <div class='article-body'>
        <% @page.images.each do |image| %>
          <%= image_tag(image.url)%>
        <% end %>
        <%= raw(@page.content_for(:body)) %>
    </div>
  </div>

  <div class='features-sidebar'>
    <div class='features-box no-footer'>
      <div class='features-header related'>NEWEST JOBS</div>

      <ul class='features-body'>
      <% if @jobs %>
        <% @jobs.each do |job| %>
          <%= link_to job.title, refinery.jobs_job_url(job) %>
        <% end %>
      <% end %>
      </ul>
    </div>

    <div class='features-box'>
      <div class='features-header latest'>LATEST FEATURES</div>

        <ul class='features-body'>
        <% if @posts %>
          <% @posts.each do |blog|%>
            <li><a href="<%= blog.source_url %>"><%= blog.title %></a></li>
          <% end %>  
        <% end %>
        </ul>

      <a class='features-footer' href='#'>
        MORE ARTICLES
        <img src='img/QP_arrow.png'/>
      </a>
    </div>

    <div class='features-box'>
      <div class='features-header podcasts'>QP PODCASTS</div>

      <ul class='features-body alternating'>
        <li><a class='feature-with-date' href='#'>
          <span>Quidcast Australia</span>
          <span>Today</span>
        </a></li>
        <li><a class='feature-with-date' href='#'>
          <span>Quidcast Europe</span>
          <span>Today</span>
        </a></li>
        <li><a class='feature-with-date' href='#'>
          <span>Quidcast Great Lakes</span>
          <span>12/7/15</span>
        </a></li>
        <li><a class='feature-with-date' href='#'>
          <span>Quidcast Midwest</span>
          <span>12/7/15</span>
        </a></li>
        <li><a class='feature-with-date' href='#'>
          <span>Quidcast Northeast</span>
          <span>12/7/15</span>
        </a></li>
        <li><a class='feature-with-date' href='#'>
          <span>Quidcast Northwest</span>
          <span>12/7/15</span>
        </a></li>
        <li><a class='feature-with-date' href='#'>
          <span>Quidcast South</span>
          <span>12/4/15</span>
        </a></li>
      </ul>

      <a class='features-footer' href='#'>
        MORE PODCASTS
        <img src='img/QP_arrow.png'/>
      </a>
    </div>

    <div class='features-box'>
      <div class='features-header featured'>FEATURED CONTENT</div>

      <div class='features-body'>
        <a class='feature-with-image' href='#'>
          <img src='img/QP_featured_comic.png'/>
        </a>
      </div>

      <a class='features-footer' href='#'>
        VIEW ON FACEBOOK
        <img src='img/QP_arrow.png'/>
      </a>
    </div>
  </div>
</div>